<% form_for @basefile, :action => url(:folder_basefile, @basefile) do %>
	<fieldset>
		<li><%= text_control :filename, :label => 'Filename: ' %></li>
		<%= submit_button 'Submit' %>
	</fieldset>
<% end %>
