<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
		<link rel="stylesheet" href="/stylesheets/boxroom.css" type="text/css" media="screen" />

		<link rel="stylesheet" href="/stylesheets/xcommon.css" type="text/css" media="screen" />		
		<link rel="stylesheet" href="/stylesheets/xworkon.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/xreset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/xtext.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/x960.css" />
		<link href="/css/xSqueezeBox.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="/mootools.js"></script>
		<script type="text/javascript" src="/javascripts/swiff/Swiff.Base.js"></script>
		<script type="text/javascript" src="/javascripts/swiff/Swiff.Uploader.js"></script>
		<script type="text/javascript" src="/javascripts/FancyUpload2.js"></script>
		<script type="text/javascript" src="/javascripts/Fx.ProgressBar.js"></script>
		<script src="/javascripts/moostripes.js" type="text/javascript"></script>
		<script type="text/javascript" src="/javascripts/SqueezeBox.js"></script>

	
	
	
  </head>
  <body>
	
    <%= catch_content :for_layout %>

  </body>
</html>