<% form_for @pocky, :action => url(:pocky, @pocky) do %>
	<fieldset>
		<legend>pocky</legend>
		<li><%= text_control :title, :label => 'Title: ' %></li>
		<%= submit_button 'Submit' %>
	</fieldset>
<% end %>